.loginDiv * {
    color: #111111;
    background-color: #ffffff;
}

.loginPita {
    z-index: 4;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    /* max-width: 1200px; */
    height: 94vh;
    max-height: 900px;
    overflow-y: scroll;
    border-radius: 4px;
    border: 2px solid red;
    box-shadow:
        0 0.3px 2.2px rgba(0, 0, 0, 0.011),
        0 0.7px 5.3px rgba(165, 11, 11, 0.016),
        0 1.3px 10px rgba(0, 0, 0, 0.02),
        0 2.2px 17.9px rgba(0, 0, 0, 0.024),
        0 4.2px 33.4px rgba(0, 0, 0, 0.029),
        0 10px 80px rgba(0, 0, 0, 0.04);
    overflow: hidden;
}



.calHome{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, .7);
    color: #50b5a2;
    padding: 10px;
    z-index: 6;

}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 5; */
    /* border-radius: 10px; */
    box-shadow: 1px 0px 8px rgba(48, 162, 113, 0.7);
    /* color: wheat; */
    /* background-color: #111111; */
    /* min-height: 40%; */
    /* width: 100px; */
}
.selected{
    /* border: 2px solid crimson; */
    color: #353536;
}
.calendar-modal{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.calendar-modal button{
    margin-top: 5px;
}


.loginDiv {
    background-color: #ffffff;
    position: absolute;
    /* z-index: 100; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centering trick */
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 1px 0px 8px rgba(48, 162, 113, 0.7);
    /* Adjust shadow as needed */
    max-width: 400px;
    width: 90%;
    /* Adjust width as needed */
    text-align: center;
}



.signUp>* {
    background-color: #fff;
}



.logo-badge {
    font-size: 4rem;
}



.text-darkyellow {
    color: #ffc107;
    text-decoration: none;
}

.container-content {
    margin-top: 1rem;
}

.form-group {
    color: #111111;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 70%;
    /* border: 2px solid black; */
    /* border-radius: 7px; */
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    /* border: none; */
    border: 2px solid #949494;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    /* user-select: all; */
}

.form-control::placeholder {
    color: #111111;
}

.form-button {
    display: inline-block;
    width: 70%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #87d4c6;
    color: #1a2729;

    /* background: #ffd814;
    background-color: #fcd200; */
    /* color: #282c34; */
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
}

.form-button1 {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #87d4c6;
    color: #1a2729;

    /* background: #ffd814;
    background-color: #fcd200; */
    /* color: #282c34; */
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
}




.form-button:hover {
    /* box-shadow: 1px 0px 8px rgba(48, 162, 69, 0.5); */
    background-color: #50b5a2;
}

.margin-t {
    margin-top: 1rem;

}

h3 {

    margin: 0;
    font-size: 40px;
}

.margin-b {
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}