.kanban-board {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.kanban-column {
  display: flex;
  flex-direction: column;
  min-width: 300px; /* Set a fixed width for columns */
  max-width: 300px; /* Prevent columns from stretching */
  background-color: #f8f9fa;
  padding: 1%;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin: 0.5%;
  &.approved {
    background-color: var(--tag-color-one);
    color: var(--tag-color-text-one);
  }

  &.progress {
    background-color: var(--tag-color-two);
    color: var(--tag-color-text-two);
  }

  &.review {
    background-color: var(--tag-color-three);
    color: var(--tag-color-text-three);
  }

  &.waiting {
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
  }
  &.completed {
    //   text-decoration: line-through;
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
  }
}

.kanban-task {
  background-color: #ffffff;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ced4da;
  border-radius: 4px;
  color: black;
  width: 100%; /* Ensure tasks fit within the column */
}
